/* Students Page Styling */

.students-detail {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  align-items: start;
  gap: 40px;
  margin: 60px 0;
}

.students-text h3,
.students-text h4,
.students-text li .students-text p {
  color: #006778;
}

.students-text h4,
.students-text li {
  margin-top: 20px;
}

.students-images {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.students-images img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}
